<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="row mx-auto">
        <div class="section-heading col-12 col-lg-4 d-flex flex-column align-items-center">
          <h2 class="mb-0">Recent &amp;<br>Upcoming Talks</h2>
        </div>

        <div class="col-12 col-lg-7">
          <div class="card experience course mb-3">
            <div class="card-body">
              <div class="section-subheading card-title exp-title text-muted my-0">2025 WORLD CONGRESS</div>
              <div class="card-subtitle my-0 article-metadata">
                <a href="https://www.eswc2025.org/" target="_blank" rel="noopener">ESWC 2025 </a>
                <span class="middot-divider"></span> 18–22 Aug 2025
              </div>
            </div>
          </div>

          <div class="card experience course">
            <div class="card-body">
              <div class="section-subheading card-title exp-title text-muted my-0">
                Challenging the Challenges: Agricultural and Environmental Issues in International Economics
              </div>
              <div class="card-subtitle my-0 article-metadata">
                <a href="https://poole.ncsu.edu/economics/international-economics-seminar-series/" target="_blank" rel="noopener">
                  NC STATE UNIVERSITY
                </a>
                <span class="middot-divider"></span> 08–09 May 2025
              </div>
            </div>
          </div>
        </div>
      </div> <!-- inner row -->
    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container -->
